<a href="https://colab.research.google.com/github/07shi/PYTHON/blob/main/Using%20list%20of%20list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
data = [
    [101, 25, 'Male', 'Delhi', 2000],
    [102, 30, 'Female', 'Mumbai', 3000],
    [103, 35, 'Female', 'Chennai', 2500],
    [104, 28, 'Male', 'Kolkata', 4000],
    [105, 40, 'Male', 'Pune', 3500]
]
columns = ['customer_id', 'age', 'gender', 'city', 'purchase_amount']
df = pd.DataFrame(data, columns=columns)
print(df)

   customer_id  age  gender     city  purchase_amount
0          101   25    Male    Delhi             2000
1          102   30  Female   Mumbai             3000
2          103   35  Female  Chennai             2500
3          104   28    Male  Kolkata             4000
4          105   40    Male     Pune             3500