In [ ]:
import pandas as pd

# Creating a manual dataset
data = {
    'customer_id': [101, 102, 103, 104, 105],
    'age': [25, 30, 35, 28, 40],
    'gender': ['Male', 'Female', 'Female', 'Male', 'Male'],
    'city': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Pune'],
    'purchase_amount': [2000, 3000, 2500, 4000, 3500]
}

df = pd.DataFrame(data)
print(df)

# Alternative way to create the DataFrame using a list of lists
import pandas as pd

data = [
    [101, 25, 'Male', 'Delhi', 2000],
    [102, 30, 'Female', 'Mumbai', 3000],
    [103, 35, 'Female', 'Chennai', 2500],
    [104, 28, 'Male', 'Kolkata', 4000],
    [105, 40, 'Male', 'Pune', 3500]
]
columns = ['customer_id', 'age', 'gender', 'city', 'purchase_amount']

df = pd.DataFrame(data, columns=columns)
print(df)

   customer_id  age  gender     city  purchase_amount
0          101   25    Male    Delhi             2000
1          102   30  Female   Mumbai             3000
2          103   35  Female  Chennai             2500
3          104   28    Male  Kolkata             4000
4          105   40    Male     Pune             3500
   customer_id  age  gender     city  purchase_amount
0          101   25    Male    Delhi             2000
1          102   30  Female   Mumbai             3000
2          103   35  Female  Chennai             2500
3          104   28    Male  Kolkata             4000
4          105   40    Male     Pune             3500

In [ ]:
import pandas as pd

# Complete data dictionary with all columns
data = {
    'customer_id': [101, 102, 103, 104, 105],
    'age': [25, 30, 35, 28, 40],
    'gender': ['Male', 'Female', 'Female', 'Male', 'Male'],
    'city': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Pune'],
    'purchase_amount': [2000, 3000, 2500, 4000, 3500]
}

# Create DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Save to CSV without index
df.to_csv("customer_data.csv", index=False)

   customer_id  age  gender     city  purchase_amount
0          101   25    Male    Delhi             2000
1          102   30  Female   Mumbai             3000
2          103   35  Female  Chennai             2500
3          104   28    Male  Kolkata             4000
4          105   40    Male     Pune             3500

In [ ]:
import pandas as pd

# Complete data dictionary with all columns
data = {
    'customer_id': [101, 102, 103, 104, 105],
    'age': [25, None, 35, 28, None],
    'gender': ['Male', 'Female', 'Female', 'Male', 'Male'],
    'city': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Pune'],
    'purchase_amount': [2000, 3000, None, 4000, 3500]
}

# Create DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Save to CSV without index
df.to_csv("customer_data.csv", index=False)

   customer_id   age  gender     city  purchase_amount
0          101  25.0    Male    Delhi           2000.0
1          102   NaN  Female   Mumbai           3000.0
2          103  35.0  Female  Chennai              NaN
3          104  28.0    Male  Kolkata           4000.0
4          105   NaN    Male     Pune           3500.0

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Create a DataFrame
data = pd.DataFrame({
    'Age': [20, 25, 30, 35, 40],
    'Salary': [20000, 25000, 30000, 35000, 40000]
})

# Min-Max Scaling
scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data)

# Print normalized data
print("Min-Max Normalized Data:\n", data_scaled)

Min-Max Normalized Data:
 [[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [0.75 0.75]
 [1.   1.  ]]

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Gender': ['Male', 'Female', 'Female', 'Male'],
    'Department': ['IT', 'HR', 'IT', 'HR'],
    'Salary': [50000, 40000, 60000, 45000]
}
df = pd.DataFrame(data)

# One-Hot Encoding
encoded = pd.get_dummies(df, columns=['Gender'])
print("One-Hot Encoded DataFrame:")
print(encoded)

# GroupBy & Aggregation
result = df.groupby('Department')['Salary'].mean()
print("\nAverage Salary by Department:")
print(result)

# Min-Max Normalization (example on Salary)
df['Salary_Normalized'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())
print("\nNormalized Salary:")
print(df['Salary_Normalized'])

One-Hot Encoded DataFrame:
  Department  Salary  Gender_Female  Gender_Male
0         IT   50000          False         True
1         HR   40000           True        False
2         IT   60000           True        False
3         HR   45000          False         True

Average Salary by Department:
Department
HR    42500.0
IT    55000.0
Name: Salary, dtype: float64

Normalized Salary:
0    0.50
1    0.00
2    1.00
3    0.25
Name: Salary_Normalized, dtype: float64