In [14]:
import pandas as pd
data = {
    'customer_id' : [101, 102, 103, 104, 105],
    'age' : [25, 30, 35,28,40],
    'gender' : ['Male','Female','Female','Male','Male'],
    'city' : ['Default', 'Mumbai', 'Chennai', 'kolkata', 'Pune'],
    'purchase_amount' : [2000,3000,2500,4000,3500]
}

df = pd.DataFrame(data)

print(df)
import pandas as pd

data = [
    [101,25,'Male','Delhi', 2000],
    [102,30,'Female','Mumbai',3000],
    [103,35,'Female','Chennai',2500],
    [104,28,'Male','Kolkata',4000],
    [105,40,'Male','Pune',3500]
]

columns = ['customer_id', 'age','gender','city','purchase_amount']

   customer_id  age  gender     city  purchase_amount
0          101   25    Male  Default             2000
1          102   30  Female   Mumbai             3000
2          103   35  Female  Chennai             2500
3          104   28    Male  kolkata             4000
4          105   40    Male     Pune             3500

In [15]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

data = pd.DataFrame({
    'Age' : [20,25,30,35,40],
    'Salary': [20000,25000,30000,35000,40000]
})

scaler = MinMaxScaler()
data_scaled = scaler.fit_transform(data)

print("Min-Max Normalized Data:\n" , data_scaled )

Min-Max Normalized Data:
 [[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [0.75 0.75]
 [1.   1.  ]]

In [16]:
import pandas as pd
df = pd.DataFrame({
    'Gender': ['Male','Female','Female','Male']

})

encoded = pd.get_dummies(df)
df = pd.DataFrame({
    'Department': ['IT','HR','IT','HR'],
    'Salary': [50000,40000,60000,45000]

})
result = df.groupby('Department').mean()
print(result)

             Salary
Department
HR          42500.0
IT          55000.0